<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="x_panel">
	<div class="x_title">
		<h3 class="modal-title">
			<font color=blue>Sertifikasi</color></font>
			<!--membuat button tambah  -->
			<button type="button" class="btn btn-link" id="btn-add">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			</button>

		</h3>
		<!-- membuat garis tabel -->

		<thead class="table-style">
			<table class="table table-striped">
				<tr>
					<th><font color=blue>NAMA SERTIFIKASI</color></font></th>
					<th><font color=blue>PENERBIT</color></font></th>
					<th><font color=blue>MASA BERLAKU SERTIFIKASI</color></font></th>
					<th><font color=blue>#</color></font></th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${listData}">
						<td><span th:text="${item.certificateName}"></span></td>
						<td><span th:text="${item.publisher}"></span></td>
						<td><span th:text="${item.validStartYear}"></span>-<span
							th:text="${item.validStartMonth}"></span> s.d <span
							th:text="${item.untilYear}"></span>-<span
							th:text="${item.untilMonth}"></span></td>
						<td>
							<div class="dropout">
								<button class="btn btn-primary dropdown-toggle" type="button"
									data-toggle="dropdown">
									More <span class="caret"></span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item btn-edit"
										th:href="@{/sertifikasi/edit/{id}(id=${item.id})}">Ubah</a> <a
										class="dropdown-item btn-delete"
										th:href="@{/sertifikasi/delete/{id}(id=${item.id})}">Hapus</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix"></div>
	</div>
	<div class="x_content" id="sertifikasi-content">
		<div class="row"></div>
	</div>
	<div class="modal fade" id="main-modal" data-layout-fragment="content-modal">
	<div class="modal-dialog modal-lg" style="width:75%;">
		<div class="modal-content" id="main-modal-content">
		</div>
	</div>
</div>
<script data-layout-fragment="script-js">	
	// tambah sertifikasi
	$("#modal-input").on("click", "#btn-add", function() {
			$.ajax({
				url : '/sertifikasi/add', // lihat di SertifikasiController, cari GetMapping(value="/create")
				type : 'get',
				dataType : 'html',
				success : function(result) {
					$("#modal-input").find(".modal-dialog").html(result);
					// menampilkan modal dengan id modal-input
					$("#modal-input").modal('show');
				}
			});

		});
	
	$("#modal-input").on("submit", "#form-sertifikasi", function() {
		// inisialisasi variable dataForm, diambil dari serialize method
		var dataForm = $(this).serialize()
		// inisialisasi variable urlForm diambil dari atribute action dari form
		// sehingga untuk CREATE, UPDATE, DELETE menggunakan data ini
		// dan tidak perlu membuat event submit berkali-kali
		var urlForm = $(this).attr('action');
		// submit data dengan AJAX
		$.ajax({
			url : urlForm, // url di isi dengan variable urlForm
			type : 'post',
			data : dataForm, // data di isi dengan variable dataForm
			dataType : 'html',
			done : function() {
				$("#modal-input").find(".modal-dialog").html("");
			},
			success : function(result) {
				// masukan dulu result ke modal
				$("#modal-input").find(".modal-dialog").html(result)
				// check jumlah element yang memiliki class has-error
				var check = $("#modal-input").find(".has-error").length;
				// jika tidak ada error
				if (check == 0) {
					// menyembunyikan modal dengan id modal-input
					$("#modal-input").modal('hide');
					// tampilkan data dengan memanggil method loadData
					loadData();
				}
			},
		});
		// mencegah submit automatis, sehingga form akan diam tidak melakukan action
		return false;
	});
	
	$(".btn-edit").click(function(){
		var a = $(this).attr("href");
		$.ajax({
			url:a,
			type:'get',
			datType:'html',
			success:function(hasil){
				$("#modal-form-lg").find(".modal-content").html(hasil);
				$("#modal-form-lg").modal("show");
			}
		});
		return false;
	});
	
	$(".btn-delete").click(function(){
		var b = $(this).attr("href");
		$.ajax({
			url:b,
			type:'get',
			datType:'html',
			success:function(hasil){
				$("#modal-form").find(".modal-content").html(hasil);
				$("#modal-form").modal("show");
			}
		});
		return false;
	});
</script>
</div>
</html>